body{
    width: 80%;
    margin: auto;
    background-color: #F6F6F6;
    font-family: 'Rubik',sans-serif;
    

}

/* class */

.one{
    display: inline;
    padding: 0;

}

.one li{
    display: inline;
    list-style-type: none;
    margin: 20px;
}
.sign{
    justify-content: space-around;
    padding: 20px;
}
.sign-up{
    border: 1px red solid;
    border-radius: 20px;
    padding: 10px 20px;
    color: red;
    margin: 10px;
}
/* content1 */
.menu1{
    width: 555px;
height: 60px;
}
/* strong */
.men2{
    position: absolute;
    border: 1px black solid;
    border-bottom: 10px solid rgba(24, 56, 56, 0.35);
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    background-color: #F53838;
}
/* bar */
.separator{
    width: 1px;
    height: 100px;
    background-color: #999999;
    margin: 20px;

}

.bar1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar1 p{
    display: flex;
    flex-direction: row;


}
/* inside */
.inside2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}
.inside3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
.inside3 li{
    list-style-type: none;
    margin: 10px;
    

}
.choose{
    font-size: 35px;
    text-transform: capitalize;
}
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 330px;
    height: 760px;

}
.table ul{
    display: flex;
    flex-direction: column;
}
.table li{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 15px;
    
}
.bottom{
    text-align: center;
    font-size: 25px;
}

.select{
    border: 2px solid #F53838;    border-radius: 10px;
    border-radius: 50px;
    padding: 10px 40px;
    color: white;
    background-color: #F53838;
    font-size: 16px;
}
.emoji{
    color: #2FAB73;
}
/* fleche */
.union{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.union li{
    list-style-type: none;
    display: inline;
}

.ellipse1{
        border: 1px  solid #F53838;
            border-radius: 50px;
            padding: 10px;
            margin: 10px;
            color: #F53838 ;
    }

.ellipse2{
    border: 1px  solid #F53838;
            border-radius: 50px;
            padding: 10px;
            margin: 10px;
            color: white;
            background-color: #F53838;
}

/* global */
.fast-vpn{
    font-size: 35px;
}
.global-vpn{
    font-size: 16px;
}

/* cv */
.figure{
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    border-radius: 10px;
    margin: 10px;
    width: 400px;
    height: 230px;
    align-items: center;
    padding: 10px;
    width: 400px;
    height: 230px;
    justify-content: center;
}

.img{
    display: flex;
    justify-content: flex-start;
}
.survole2{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    color: white;
    background-color: #F53838;
    box-shadow: 1px 5px 10px red;
}

.footer0{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.logofb{
    display: flex;
    align-items: center;
    flex-direction: row;
} 






/* ID */
/* header */
#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    
    
    }
    /* content1 */
#content1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    }

/* bar */
#bar{
    display: flex;
    border: 1px black solid;
    border-radius: 10px;
    justify-content: space-evenly;
    margin: 15px;
    background-color: #FFFFFF;
    align-items: center;
    box-shadow: 0px 3px 1px -1px rgb(0 0 0 / 50%); 
    /* horizontal vertical et adoucicement et couleur  */
}



/* inside */

#inside{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
   
}
/* choose */
#choose{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;


}
#choose p{
    font-size: 16px;
}

#statut{
    display: flex;
    margin: 30px;
}
#threeblock{
    width: 1060px;
    display: block;
    align-items: center;
    justify-content: space-around;
    



}

#gbobal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    font-family: 'Rubik',sans-serif;
    /* position: relative;
    top: 100px ; */ 

}

#vector-word{
    background-color: #F6F6F6;
    width: 1060px;
    height: 537.77px;
}

#logo{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
  

}
#happy{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
#cv{
display: flex;
align-items: center;
justify-content: space-around;
margin: auto;

}
#fleche{
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    padding: 10px;
    
}
#survole{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-family: 'Rubik',sans-serif;
    border: 1px black solid;
    border-radius: 10px;
    padding: 30px;
    background-color:  #FFFFFF;
}
/* footer */
#footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    font-size: 16px;
}

#footer li{
    list-style-type: none;
    
    
}
#foooter ul{

    padding: 0px;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#footer p{
    width: 340px;
}
#footer li{
    /* le decalage */
    position: relative;
    right: 20px;
    padding: 10px;
}
/* ajout */

